html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
  
body {
    font-family: 'Montserrat';
}

section {
    display: grid;
    justify-items: center;
    align-content: space-between;
    gap: 32px;
    height: 100%;
}

.head {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    align-items: center;
    background-image: url(https://leasing.ru/storagefile/leasingru/de50a159-296d-437d-907e-081692dd39b6);
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-size: cover;
    height: 40vh;
    width: 100vw;
}

.head .title {
    font-size: 3rem;
    text-align: center;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contacts .name {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 32px;
    justify-content: center;
}

.cards .wrap {
    display: flex;
    grid-gap: 20px;
}

@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    .head .title {
        font-size: 1.5rem;
    }
}
